/* TableStyles.css */

/* Remove as bordas arredondadas padrões do Bootstrap para ficar "quadradão" igual ao design */
.custom-table {
    border-collapse: collapse !important;
    border: 1px solid black;
    border-radius: 50px;
}

/* Estilo do Cabeçalho */
.custom-table thead th {
    background-color: #212529 !important;
    /* Cor escura do header */
    color: white !important;
    border: 1px solid black !important;
    /* Bordas pretas */
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

/* Estilo do Corpo (Linhas) */
.custom-table tbody td {
    background-color: #FDF1E6 !important;
    /* Aquele bege/rosado da imagem */
    color: black !important;
    /* Texto preto e negrito se quiser */
    font-weight: 600;
    border: 1px solid black !important;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}

/* Ajuste para garantir que o hover não deixe a linha cinza (opcional) */
.custom-table-hover tbody tr:hover td {
    background-color: #ffe0c0 !important;
    /* Um bege um pouco mais escuro no hover */
}